@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

#main-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

body {
  margin: 0px;
  color: #e3e4e6;
  direction: rtl;
  background-color: #5778a3;
}

body,
input,
button {
  font-family: 'Cairo', sans-serif;
}

#main-title {
  font-size: 100px;
  margin: 0px;
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(217, 217, 217);
  height: 200px;
  width: 700px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

#word-input {
  width: 500px;
  height: 50px;
  font-size: 15px;
  border: none;
  border-radius: 100px;
  padding: 0px 20px;
}

#submit-btn {
  height: 50px;
  border: none;
  border-radius: 100px;
  margin: 0px 10px;
  width: 160px;
  background-color: #ee5873;
  color: rgb(217, 217, 217);
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

#submit-btn:hover {
  background-color: #be3750;
}

#reply-content {
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(217, 217, 217);
  height: 800px;
  width: 700px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}
